# This notebook will contain feature engineering steps:

- Encoding categorical variables

- Feature scaling (e.g., standardization, normalization)

- Feature selection (optional)

- Creating new features (if applicable)

In [10]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

### Input 01-notebook file

In [11]:
path = '../data/cleaned/heart_2022_cleaned_01.csv'

In [12]:
# read data
df = pd.read_csv(path ,sep=',',encoding='utf-8')
df.sample(5)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,BMI_Category,SleepHours_Category,HeartAttackBinary
268690,New York,Female,Fair,5.0,20.0,Within past 2 years (1 year but less than 2 ye...,Yes,9.0,None of them,No,...,No,Yes,No,No,"No, did not receive any tetanus shot in the pa...",No,No,Overweight,Long Sleep,0
289386,Ohio,Female,Very good,0.0,0.0,Within past year (anytime less than 12 months ...,Yes,7.0,None of them,Yes,...,Yes,No,No,Yes,"Yes, received tetanus shot but not sure what type",No,Yes,Obese,Normal Sleep,1
80177,Georgia,Male,Poor,30.0,0.0,Within past year (anytime less than 12 months ...,No,6.0,None of them,Yes,...,No,No,No,Yes,"Yes, received tetanus shot but not sure what type",No,No,Normal weight,Short Sleep,1
112881,Indiana,Male,Good,6.0,3.0,Within past year (anytime less than 12 months ...,No,6.0,None of them,No,...,Yes,No,No,No,"No, did not receive any tetanus shot in the pa...",No,No,Normal weight,Short Sleep,0
101098,Illinois,Female,Very good,1.0,28.0,Within past year (anytime less than 12 months ...,Yes,8.0,1 to 5,No,...,No,Yes,Yes,Yes,"Yes, received Tdap",No,No,Normal weight,Normal Sleep,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442067 entries, 0 to 442066
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      442067 non-null  object
 1   Sex                        442067 non-null  object
 2   GeneralHealth              442067 non-null  object
 3   PhysicalHealthDays         442067 non-null  float64
 4   MentalHealthDays           442067 non-null  float64
 5   LastCheckupTime            442067 non-null  object
 6   PhysicalActivities         442067 non-null  object
 7   SleepHours                 442067 non-null  float64
 8   RemovedTeeth               442067 non-null  object
 9   HadHeartAttack             442067 non-null  object
 10  HadAngina                  442067 non-null  object
 11  HadStroke                  442067 non-null  object
 12  HadAsthma                  442067 non-null  object
 13  HadSkinCancer              442067 non-null  object
 14  HadCOPD                    442067 non-null  object
 15  HadDepressiveDisorder      442067 non-null  object
 16  HadKidneyDisease           442067 non-null  object
 17  HadArthritis               442067 non-null  object
 18  HadDiabetes                442067 non-null  object
 19  DeafOrHardOfHearing        442067 non-null  object
 20  BlindOrVisionDifficulty    442067 non-null  object
 21  DifficultyConcentrating    442067 non-null  object
 22  DifficultyWalking          442067 non-null  object
 23  DifficultyDressingBathing  442067 non-null  object
 24  DifficultyErrands          442067 non-null  object
 25  SmokerStatus               442067 non-null  object
 26  ECigaretteUsage            442067 non-null  object
 27  ChestScan                  442067 non-null  object
 28  RaceEthnicityCategory      442067 non-null  object
 29  AgeCategory                442067 non-null  object
 30  HeightInMeters             442067 non-null  float64
 31  WeightInKilograms          442067 non-null  float64
 32  BMI                        442067 non-null  float64
 33  AlcoholDrinkers            442067 non-null  object
 34  HIVTesting                 442067 non-null  object
 35  FluVaxLast12               442067 non-null  object
 36  PneumoVaxEver              442067 non-null  object
 37  TetanusLast10Tdap          442067 non-null  object
 38  HighRiskLastYear           442067 non-null  object
 39  CovidPos                   442067 non-null  object
 40  BMI_Category               442067 non-null  object
 41  SleepHours_Category        442067 non-null  object
 42  HeartAttackBinary          442067 non-null  int64
dtypes: float64(6), int64(1), object(36)
memory usage: 145.0+ MB

### Encoding

In [14]:
col_obj = df.select_dtypes('object').columns

le = LabelEncoder()

for col in col_obj:
    df[col] = le.fit_transform(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442067 entries, 0 to 442066
Data columns (total 43 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   State                      442067 non-null  int64
 1   Sex                        442067 non-null  int64
 2   GeneralHealth              442067 non-null  int64
 3   PhysicalHealthDays         442067 non-null  float64
 4   MentalHealthDays           442067 non-null  float64
 5   LastCheckupTime            442067 non-null  int64
 6   PhysicalActivities         442067 non-null  int64
 7   SleepHours                 442067 non-null  float64
 8   RemovedTeeth               442067 non-null  int64
 9   HadHeartAttack             442067 non-null  int64
 10  HadAngina                  442067 non-null  int64
 11  HadStroke                  442067 non-null  int64
 12  HadAsthma                  442067 non-null  int64
 13  HadSkinCancer              442067 non-null  int64
 14  HadCOPD                    442067 non-null  int64
 15  HadDepressiveDisorder      442067 non-null  int64
 16  HadKidneyDisease           442067 non-null  int64
 17  HadArthritis               442067 non-null  int64
 18  HadDiabetes                442067 non-null  int64
 19  DeafOrHardOfHearing        442067 non-null  int64
 20  BlindOrVisionDifficulty    442067 non-null  int64
 21  DifficultyConcentrating    442067 non-null  int64
 22  DifficultyWalking          442067 non-null  int64
 23  DifficultyDressingBathing  442067 non-null  int64
 24  DifficultyErrands          442067 non-null  int64
 25  SmokerStatus               442067 non-null  int64
 26  ECigaretteUsage            442067 non-null  int64
 27  ChestScan                  442067 non-null  int64
 28  RaceEthnicityCategory      442067 non-null  int64
 29  AgeCategory                442067 non-null  int64
 30  HeightInMeters             442067 non-null  float64
 31  WeightInKilograms          442067 non-null  float64
 32  BMI                        442067 non-null  float64
 33  AlcoholDrinkers            442067 non-null  int64
 34  HIVTesting                 442067 non-null  int64
 35  FluVaxLast12               442067 non-null  int64
 36  PneumoVaxEver              442067 non-null  int64
 37  TetanusLast10Tdap          442067 non-null  int64
 38  HighRiskLastYear           442067 non-null  int64
 39  CovidPos                   442067 non-null  int64
 40  BMI_Category               442067 non-null  int64
 41  SleepHours_Category        442067 non-null  int64
 42  HeartAttackBinary          442067 non-null  int64
dtypes: float64(6), int64(37)
memory usage: 145.0 MB

In [15]:
df.sample(5)

,State,Sex,GeneralHealth,PhysicalHealthDays,MentalHealthDays,LastCheckupTime,PhysicalActivities,SleepHours,RemovedTeeth,HadHeartAttack,...,AlcoholDrinkers,HIVTesting,FluVaxLast12,PneumoVaxEver,TetanusLast10Tdap,HighRiskLastYear,CovidPos,BMI_Category,SleepHours_Category,HeartAttackBinary
320496,41,1,2,0.0,0.0,3,1,6.0,2,0,...,1,0,1,0,0,0,0,3,2,0
69406,9,1,1,5.0,0.0,2,1,6.0,2,1,...,0,1,0,1,3,0,2,3,2,1
347257,45,1,2,30.0,30.0,3,1,6.0,3,0,...,1,0,1,0,1,0,2,3,2,0
43689,5,0,0,0.0,0.0,3,1,9.0,0,0,...,0,0,1,1,0,0,0,3,0,0
160205,21,0,1,0.0,6.0,3,0,4.0,1,1,...,0,1,0,1,0,0,0,0,4,1

### Features Selection (ToDo)

### Creating new features (ToDo)

### Output new final data

In [16]:
output_path = '../data/cleaned/heart_2022_cleaned_02.csv'
df.to_csv(output_path, index=False)